@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
.Paragrafi {
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.Paragrafi img {
    width: 100px;
}

.Scelta {
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
    font-style: italic;
    color: black;
    text-align: right;
}

body {
    background-size: cover;
    width: 95%;
}

.grafico {
    background-color: rgb(255, 255, 255, 1);
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

html {
    background: linear-gradient(180deg, rgb(18, 1, 255), rgb(0, 86, 199));
    background-repeat: no-repeat;
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
}

.titolo {
    font-size: 30px;
    font-family: 'PT Sans', sans-serif;
    color: white;
    text-align: center;
    vertical-align: middle;
}

.titolo img {
    width: 30%;
}